@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FFF4E7;
    scroll-behavior: smooth;
   
}
.cloud1{
    position: absolute;
    right: -10px;
    top: -10px;
}
.cloud2{
    position: absolute;
    left: -15px;
    top: -15px;
}
.cloud3{
    position: absolute;
    left: -15px;
    top: 10em;
}
.mount1{
    bottom:2.4em;
    right: -20px;
}
.mount2{
    bottom:1.8em;
    left: -20px;
}
.base{
    left: -10px;
    bottom: -25px;
}
.baseboard{
    position: absolute;
    bottom: 95%;
    left: 2%;
}
.cacleft{
    position: absolute;
    bottom: 48%;
    left: 3.6em;
}
.cacright{
    position: absolute;
    bottom: 60%;
    right: 7em;
}
@keyframes identifier {
    
}
@media (max-width: 768px) {
    .baseboard{
        position: absolute;
        bottom: 87%;
        left: 5%;
    } 
    .cacleft{
        display: none;
        position: absolute;
        bottom: 58%;
        left: 4.5em;
    }
    .mount2{
        top:10.5em;
        left: -20px;
    }
}
@media (max-width: 375px){
    .mount2{
        top:15em;
        left: -20px;
    }
}

  .phatta{
    background-image: url("./assets/log.svg");
    background-size: contain;
    background-repeat: no-repeat;
 }
 @media (max-width: 1024px) {
    .phatta{
        background-image: url("./assets/home/chotalog.svg");
        background-size: contain;
        background-repeat:no-repeat;
        
     }
}
 
  
.ghoda{
   position: absolute;
   bottom: 30px;
   right:20px;
   
}
.startupsaga{
    position: absolute;
    bottom: 22px;
    left:20px;
}


.gradi{
    /* background-image: linear-gradient(to bottom, #FFF4E7 30%, #FFB171 70%); */
    background: -webkit-linear-gradient(top, #FFF4E7 30%, #ffba81 0% )
}

.gradii{
    /* background-image: linear-gradient(to bottom, #FFF4E7 30%, #FFB171 70%); */
    background: -webkit-linear-gradient(top, #FFF4E7 30%, #ffb260 0% );
    left: 11em;
    position: absolute;
    z-index: 0;

}
.question{
    bottom: -10px;
    right: -20px;
}
.ait{
    position: absolute;
    bottom: 1em;
    right: 2.2em;
}
.horse{
    position: absolute;
    bottom: 1em;
    left: 2.2em;
}
.aitpn{
    position: absolute;
    bottom: 0.3em;
    right: 0.6em;
}
.horsepn{
    position: absolute;
    bottom: 0.3em;
    left: 0.8em;
}
.ss{
    position: absolute;
    bottom: 0em;
    left: 0.5em; 
}
.horse2{
    position: absolute;
    bottom: 0.3em;
    right: 0.7em  
}
.ss2{
    position: absolute;
    bottom: 0.3em;
    left: 2.2em;
}
.horizontal-carousel {
    overflow-x: auto;
    white-space: nowrap;
    /* Add any other necessary styles */
  }
  
.about-us{
    font-family: "Special Elite",sans-serif;
}
.about-text{
    font-family: "Special Elite",sans-serif;
    font-size: large;
    top:50%;
    right:50%;
    translate: 50% -50%;
    margin: auto;
    width: 55em;
}
@media (max-width:1157px) {
    .about-text{
    font-size: medium;
   width: 30em;
    
  

    
}
}
@media (max-width:567px) {
    .about-text{
    font-size: small;
   width: 25em;
    
  

    
}
}
@media (max-width:457px) {
    .about-text{
    font-size: 0.6em;
   width: 23.5em;
    
  

    
}
}
@media (max-width:360px) {
    .about-text{
    font-size: 0.5em;
   width: 23em;

    
}
}

.countdown-text{
    font-family: "Special Elite",sans-serif;
}
.flip-countdown-title{
    font-family: "Special Elite",sans-serif;
}
.imgg{
   
        transition: top 2s ease, left 2s ease;
     
}

.crack{
    
    background-image: url(./assets/crack.svg);
    background-position: center;
    background-size: cover;
}

.carousel-image{
    position: absolute;
    height: 14em;
    width: 19em;
    top:50%;
    right: 50%;
    translate: 50% -50%;
    border-radius: 3%;
    
    
}


@media (max-width:768px) {
    .carousel-image{
        height: 8.5em;
        width: 11.5em;
        
    }
    

    
}









.sponus{
    background-image: url(./assets/paper.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.cacc{
    position: absolute;
    bottom: -18px;
    right:0px
}

* {
    scrollbar-width: thin;
    scrollbar-color: #85C19C #FFF4E7;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    
    width: 6px;
    height: 13px;
}

*::-webkit-scrollbar-track {
    background: #FFF4E7;
}

*::-webkit-scrollbar-thumb {
    background-color: #86C8D3;
    border-radius: 16px;
    border: 0px solid #0F1322;
}